
.sidebar {
  
    position: relative;
    animation-name: example;
    animation-duration: 2s;

  }
  .side{
    height: 350px;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  
  @keyframes example {
    0%   { right:-100px; opacity: 100%; top:0px}
  25%  {right:0px; top:0px;}
  }

  @media only screen and (min-width: 600px) {
    img{
        height: 150px;
        width: full;
        
    }
  }
  h1{
    font-size: 100px;
  }
  .card{
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.11);
   color: #ffffff;
  }
