
<div class="rcont">
    <div class="header"><h1>This is Responsive Website</h1></div>
    <div class="rleft">

        <ul>
        <li><a href="./index.html">Home</a> </li>
        <li><a href="./about.html">About Us</a> </li>
            <li><a href="./contact.html">Contact Us</a> </li>

        </ul>

    </div>
    <h1>THis Is About Us Page</h1>
    <div class="footer">
         <h1>
            @This is Footer
         </h1>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quod quaerat esse quia ratione dicta incidunt nemo, aspernatur mollitia nihil.    </div>
    
    </div>